footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
}

.social-links {
  display: flex;
}

.social-link {
  background-color: var(--secondary-colour);
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 25px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-icon {
  border-radius: 10px;
}

.fill-white {
  fill: white;
  background-color: transparent;
}

.nav-links {
  /* border: 2px solid; */
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
