nav {
  /* border: 2px solid yellow; */
  height: 10vh;
  padding: 40px 60px;
}

nav ul {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}

nav ul li {
  width: 20%;
  /* border: 2px solid red; */
}

nav ul li:last-child {
  display: flex;
  justify-content: end;
}

nav ul li:nth-child(2) {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  min-width: 250px;
}

@media only screen and (min-width: 620px) and (max-width: 800px) {
  nav {
    /* background-color: yellow; */
    padding: 40px 25px;
  }
}
