.subscribe-section {
  /* border: 2px solid yellow; */
  height: 50vh;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  padding-top: 100px;
}

form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 200px;
  max-width: 450px;
  align-items: center;
  margin-top: 15px;
}

form label {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 45px;
}

.call-to-action {
  /* border: 2px solid red; */
  margin-bottom: 25px;
  font-weight: 500;
  word-spacing: 0.2rem;
}

input {
  width: 100%;
  padding: 20px;
  border: none;
}
/*
.submit-buttton {
   background-color: transparent; 
  width: 30%;
} */
